:root {
    --ui-side-margins: 3vw;
    touch-action: none;
}

.top-bar {
    position: fixed;
    z-index: 100000000;
    height: 60px;
    width: 90vw;
    background-color: var(--translucid-white);
    color: black;
    margin: 10px calc(var(--ui-side-margins) + 2vw);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--translucid-black);
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 500ms;

    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

@media (min-width: 600px) {
    .top-bar {
        width: 600px;
        margin: 10px calc(calc(100vw - 600px) / 2);
    }
}

/* .top-bar:hover {
    transition: 500ms;
    opacity: 1;
    filter: none;
    transform: scale(calc(calc(100vw - calc(var(--ui-side-margins) * 2)) / 90vw));
} */

.top-bar .icon {
    touch-action: manipulation;
    height: 40px;
}

.marker-control-toggle {
    cursor: pointer;
}