img {
    display: block;
    width: 100%;
    height: auto;
}   

.btn-markers {
    margin: 5px;
    padding: 8px 12px;
    background: #0078A8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-markers:hover {
    background: #005580;
}

.add-button {
    background: #28a745;
}

.add-button:hover {
    background: #218838;
}

.remove-button {
    background: #dc3545;
}

.remove-button:hover {
    background: #c82333;
}

/* Layers */
.bike-lanes-layer img {

}

/* Layer control */
.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    padding: 0;
    border-radius: 10px;
}

.leaflet-control-layers-base {
    display: flex;
    justify-content: space-between;
}

.leaflet-control-layers-base input {
    display: none;
}

.layer-control-image {
    max-width: 50px;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
}

.gps-button {
    background-color: var(--light-blue);
    width: 50px;
    height: 50px;
    /* border: 3px solid var(--light-purple); */
    border-radius: 100%;
    cursor: pointer;
    /* background-image: url(   https://cdn-icons-png.flaticon.com/512/3892/3892868.png ); */
    background-repeat: no-repeat;
    background-size: contain;
}

/* Points on the map */
.gps-icon {
    z-index: 100000000 !important;
}

.gps-icon img {
    border-radius: 100%;
    animation: border-pulse 2s infinite;
}

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

/* Attribution */
.leaflet-control-attribution.leaflet-control {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0);
    color: rgb(43, 43, 43);
    text-align: center;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

.leaflet-control-attribution a{
    text-decoration: none;
    color: rgb(43, 43, 43);
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}
