#map {
    font-family: var(--system-ui);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* MAP CONTROLS */
.leaflet-bottom.leaflet-right,
.leaflet-bottom.leaflet-left {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    user-select: none;
    pointer-events: none;
}

.leaflet-top.leaflet-right,
.leaflet-top.leaflet-left {
    margin: 80px var(--ui-side-margins);
    display: flex;
    flex-direction: column;
    gap: 5px;
    user-select: none;
    pointer-events: none;
}

@media (min-width: 600px) {
    .leaflet-top.leaflet-right {
        margin: 80px calc(calc(100dvw - 600px) / 2);
    }
}

/* Marker controls */
.marker-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 !important;
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    user-select: none;
    font-size: 1.1em;
}

.marker-control button {
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    color: black;
    transition: 300ms;
}

.marker-control button:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.1);
    transition: 300ms;
}

@media (max-width: 599px) {
    .marker-control button:hover {
        opacity: 1;
        transform: none;
    }
    .marker-control button:active {
        opacity: 0.9;
        cursor: pointer;
        transform: scale(1.1);
        transition: 300ms;
    }
}

.marker-control button.checked {
    background-color: var(--yellow);
}

/* Gps button controls */
.gps-button.leaflet-control {
    margin: 0;
    width: 55px;
    height: 55px;
    border: 3px solid white;
    outline: 2px solid rgba(0, 0, 0, 0.2);
    align-self: center;
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease;
    user-select: none;
}

.gps-button.leaflet-control.active {
    filter: brightness(1.3);
    transition: 0.3s ease;
    animation: border-pulse 2s infinite;
}

.gps-button.leaflet-control:hover {
    filter: brightness(1.2);
    transition: 0.3s ease;
}

/* Map layer change controls */
.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    background-color: white;
    margin: 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    user-select: none;
}

.leaflet-control-layers-base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

/* Selects both layer control pictures individually */
.leaflet-control-layers-base label:first-child .layer-control-image {
    border-radius: 20px 20px 0 0;
}
.leaflet-control-layers-base label:last-child .layer-control-image {
    border-radius: 0 0 20px 20px;
}

.layer-control-image {
    max-width: 60px;
    cursor: pointer;
    transition: 0.3s ease;
}

.layer-control-image:hover {
    transition: 0.3s ease;
    opacity: 0.5;
}

@media (max-width: 599px) {
    .layer-control-image:hover {
        opacity: 1;
    }
    .gps-button.leaflet-control:hover {
        filter: none;
    }
}

/* Hiding stuff from the map layer change controls */
.leaflet-control-layers-base input {
    display: none;
}
.leaflet-bottom.leaflet-right .leaflet-control-layers-list .leaflet-control-layers-separator,
.leaflet-bottom.leaflet-right .leaflet-control-layers-list .leaflet-control-layers-overlays {
    display: none;
}

/* MARKERS */
.gps-icon {
    z-index: 100000000 !important;
}

.gps-icon img {
    border-radius: 100%;
    animation: border-pulse 2s infinite;
}

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip-container > .leaflet-popup-tip {
    border-radius: var(--border-radius-windows);
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
}

.leaflet-popup-content {
    padding: 20px;
    margin: auto;
}

.leaflet-popup-content .image-wrapper {
    height: 100px;
    width: 100px;
    margin: auto;
}

.leaflet-popup-content p {
    font-weight: bold;
    line-break: auto;
    user-select: text;
}

/* ATTRIBUTION */
.leaflet-control-attribution.leaflet-control {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0);
    color: rgb(43, 43, 43);
    text-align: center;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

.leaflet-control-attribution a{
    text-decoration: none;
    color: rgb(43, 43, 43);
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}
